<!-- Component Start -->
<div class="absolute bottom-0 w-full" style="max-height: 600px">
    <!-- Navigation -->
    <div class="border-2 w-full border-red-400">

    </div>
    <div class="flex justify-between bg-gray-200">
        <div class="flex justify-left">
            {% for tab in data['data'].keys() %}
            <!-- Nav Tab -->
            <div class="p-2 border-b border-gray-400 bg-gray-300 nav-tab cursor-pointer hover:bg-red-400 text-black hover:text-white" id="nav_{{tab}}" target="{{tab}}">
                  {{ tab.capitalize() }}
            </div>
            {% endfor %}
        </div> 
        <div>
            <div class="flex justify-left">
                {% for meta in data['meta'] %}
                    <div class="p-2 cursor-pointer flex justify-left hover:bg-gray-100">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </div>
                        <div class="ml-1">
                            {{ meta['message'] }}
                        </div>
                    </div>
                {% endfor %}
                <div class="cursor-pointer p-1 hover:bg-gray-100" onClick="closeAll()">
                    <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    {% for name, content in data['data'].items() %}
    <div class="overflow-auto hidden data-content" id="content-{{ name }}" style="max-height: 500px">
            <div class="flex justify-between">
                <div class="p-4">
                    {{ content['description'] }}
                </div>
                <div class="p-4">
                    Tags
                </div>
            </div>
            {% for d in content['data'] %}
            <div class="
            flex justify-between p-4 even:bg-gray-200
            {% if d['color'] == 'black' %}
                text-black
            {% else %}
                text-{{d['color']}}-600
            {% endif %}
            ">
                <div>
                    {% if d['subject'] %}
                        {{ d['subject'] }}: {{d['message'] }}
                    {% else %}
                    {{d['message'] }}
                    {% endif %}
                    
                </div>
                <div>
                    {% for tag in d['tags'] %}
                    <div class="text-xs font-semibold inline-block py-1 px-2 rounded text-{{ tag['color'] }}-600 bg-{{ tag['color'] }}-200 last:mr-0 mr-1">{{ tag['message'] }}</div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div> 
        {% endfor %}
</div>
<script defer>
    document.querySelectorAll("[id^=nav_]").forEach(function(each) {
        each.addEventListener('click', function(event) {
            contentDataElements = document.querySelectorAll('.data-content').forEach(function(contentDataElement) {
                // Now do something with my button
                contentDataElement.style.display = "none";
            });

            let contentElement = document.getElementById("content-"+event.target.getAttribute('target'))
            if (contentElement.style.display === "none" || contentElement.style.display === "") {
                contentElement.style.display = "block";
            } else {
                contentElement.style.display = "none";
            }
        })
    })

    document.querySelectorAll(".nav-tab").forEach(function(each) {
        each.addEventListener('click', function(event) {
            document.querySelectorAll(".active").forEach(function(each) {
                console.log(each.classList)
                each.classList.remove('active')
            })

            event.target.classList.add("active")
        })
    })

    

    function closeAll() {
        contentDataElements = document.querySelectorAll('.data-content').forEach(function(contentDataElement) {
            // Now do something with my button
            contentDataElement.style.display = "none";
        });
    }
</script>